

<div class="artist-head-card">
    <div class="artist-image" *ngIf="artist.image && artist.image !== 'null'">
        <img src="{{url + 'get-image-artist/' + artist.image}}">
    </div>
    <div class="data">
        <h1>{{artist.name}}</h1>
        <p class="description">{{artist.description}}</p>

        <a [routerLink]="['/create-album',artist._id]" *ngIf="identity.role =='ROLE_ADMIN'" class="btn btn-secondary">Add Album</a>
    </div>

    <div class="clearfix"></div>
    <div id="gallery-albums" *ngIf="albums">
        <ul class="albums-list">
            <li *ngFor="let album of albums" class="album-item">
                <div class="album-image" *ngIf="album.image != 'null'">
                    <a [routerLink]="['/album', album._id]"><img src="{{url + 'get-image-album/' + album.image}}"></a>
                </div>
                <div class="album-image" *ngIf="album.image == 'null'">
                    <a [routerLink]="['/album', album._id]"><div class="img-placeholder"></div></a>
                </div>
                <div class="album-title">
                    <a [routerLink]="['/album', artist._id]">{{album.title}}</a>
                    <p class="album-artist-title">{{artist.name}}</p>
                    <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                        <a class="btn btn-sm btn-warning" [routerLink]="['/edit-album', album._id]">Edit</a>
                        <a class="btn btn-sm btn-danger" (click)="onDeleteConfirm(album._id)">Delete</a>
                    </div>
                    <div class="sure" *ngIf="confirm == album._id">
                        <a class="btn btn-sm btn-danger" (click)="onDeleteAlbum(album._id)">Delete</a>
                        <a class="btn btn-sm btn-secondary" (click)="onCancelAlbum()">Cancel</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>